@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #574f7d;
    text-align: center;
    padding: 10px;
}
header h1 {
    font-weight: lighter;
    margin: 0;
    color: #ecf0f1;
}

main.app-main {
    flex-grow: 2;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

form input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid gray;
}

form input[type="submit"] {
    color: #e0f0ea;
    background-color: #574f7d;
    padding: 8px;
    border: 0;
    border-radius: 3px;
    transition: opacity .1s ease;
}

form input[type="submit"]:hover {
    opacity: 0.8;
}

div#info-container {
    width: 80%;
    background-color: #95adbe;
    border-radius: 5px;
    -webkit-box-shadow: 2px 16px 35px -12px #AFAFAF; 
    box-shadow: 2px 16px 35px -12px #AFAFAF;
    transform: scaleY(1);
    transition: transform .1s ease;
}

div#info-container:empty {
    height: 20px;
    transform: scaleY(0);
}

div#info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    div#info-container {
        width: 55%;
    }
}