@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: rgba(44, 62, 80,1.0);
    text-align: center;
    padding: 10px;
}
header h1 {
    font-weight: lighter;
    margin: 0;
    color: #ecf0f1;
}

main.app-main {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    width: 75%;
    justify-content: space-around;
}

div#info-container {
    width: 80%;
    background-color: #7f8c8d;
    display: flex;
    flex-direction: column;
}
div#info-content {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}